$icomoon-font-family: "Curaft-Icon-Set-Sharp-Solid" !default;
$icomoon-font-path: "fonts" !default;

$cft-columns: "\e900";
$cft-data-transfer-horizontal: "\e901";
$cft-underline: "\e902";
$cft-sorting-number-ascending: "\e903";
$cft-panel-divided: "\e904";
$cft-transfer: "\e905";
$cft-lightning: "\e906";
$cft-search: "\e907";
$cft-notes: "\e908";
$cft-grid-view: "\e909";
$cft-camera-add: "\e90a";
$cft-task: "\e90b";
$cft-pointer-left-circle: "\e90c";
$cft-eraser: "\e90d";
$cft-download-round: "\e90e";
$cft-voice-over: "\e90f";
$cft-receipt: "\e910";
$cft-arrow-down: "\e911";
$cft-expand-all-2: "\e912";
$cft-earth: "\e913";
$cft-quote-down: "\e914";
$cft-diamond-shape: "\e915";
$cft-megaphone: "\e916";
$cft-pos-register-2: "\e917";
$cft-tennis-ball: "\e918";
$cft-trending-top: "\e919";
$cft-agenda-bookmark: "\e91a";
$cft-briefcase-2: "\e91b";
$cft-switches: "\e91c";
$cft-plant-vase: "\e91d";
$cft-shopping-cart-entry: "\e91e";
$cft-dot-divider: "\e91f";
$cft-sales-money: "\e920";
$cft-flip-vertical: "\e921";
$cft-file-error: "\e922";
$cft-cutlery: "\e923";
$cft-target: "\e924";
$cft-direction-left: "\e925";
$cft-printer-add: "\e926";
$cft-signture: "\e927";
$cft-fast-forward-circle: "\e928";
$cft-digital-video-camera: "\e929";
$cft-repeat: "\e92a";
$cft-coffee-bottle: "\e92b";
$cft-direction-upward-right: "\e92c";
$cft-hourglass: "\e92d";
$cft-microwave: "\e92e";
$cft-menu-3: "\e92f";
$cft-user-clipboard: "\e930";
$cft-contact-agenda: "\e931";
$cft-tag-2: "\e932";
$cft-reply: "\e933";
$cft-hamburger: "\e934";
$cft-variables: "\e935";
$cft-translate: "\e936";
$cft-cone-icecream: "\e937";
$cft-adjustments: "\e938";
$cft-warning-sign: "\e939";
$cft-measure-tape: "\e93a";
$cft-umbrella: "\e93b";
$cft-user: "\e93c";
$cft-arrow-big-down: "\e93d";
$cft-activity-monitor: "\e93e";
$cft-keyboard-2: "\e93f";
$cft-sorting-alphab-descending: "\e940";
$cft-comment-face: "\e941";
$cft-portmanteau: "\e942";
$cft-euro-round: "\e943";
$cft-rubber-stamp: "\e944";
$cft-mouse-retro: "\e945";
$cft-battery-charge: "\e946";
$cft-dollar-round: "\e947";
$cft-menu-2: "\e948";
$cft-settings-automation: "\e949";
$cft-upset: "\e94a";
$cft-dollar: "\e94b";
$cft-quote-up: "\e94c";
$cft-square-direction-left: "\e94d";
$cft-rectangle: "\e94e";
$cft-text-align-center: "\e94f";
$cft-round-direction-upward-right: "\e950";
$cft-home: "\e951";
$cft-color-adjustments: "\e952";
$cft-mailbox: "\e953";
$cft-music: "\e954";
$cft-more-horizontal: "\e955";
$cft-content-contract: "\e956";
$cft-draggable: "\e957";
$cft-collaborator: "\e958";
$cft-identification-card: "\e959";
$cft-eject: "\e95a";
$cft-chevron-down: "\e95b";
$cft-logout: "\e95c";
$cft-pin-2: "\e95d";
$cft-coffee-cup: "\e95e";
$cft-shirt: "\e95f";
$cft-rectangular-marquee: "\e960";
$cft-call-round: "\e961";
$cft-round-direction-downward-right: "\e962";
$cft-cancel: "\e963";
$cft-cone: "\e964";
$cft-rotate: "\e965";
$cft-nav-foward: "\e966";
$cft-usb: "\e967";
$cft-chip: "\e968";
$cft-water-polo: "\e969";
$cft-export: "\e96a";
$cft-usb-a: "\e96b";
$cft-crop: "\e96c";
$cft-chat-help: "\e96d";
$cft-tag: "\e96e";
$cft-text-2: "\e96f";
$cft-briefcase: "\e970";
$cft-return-left: "\e971";
$cft-skip-foward-circle: "\e972";
$cft-fast-previous-circle: "\e973";
$cft-user-frame: "\e974";
$cft-pointer-right: "\e975";
$cft-plugin: "\e976";
$cft-support-agent: "\e977";
$cft-diamond-gem: "\e978";
$cft-remote-working: "\e979";
$cft-file-add: "\e97a";
$cft-inbox: "\e97b";
$cft-paper-map: "\e97c";
$cft-menu-5: "\e97d";
$cft-power: "\e97e";
$cft-user-union: "\e97f";
$cft-microphone: "\e980";
$cft-verified: "\e981";
$cft-database: "\e982";
$cft-calendar-day: "\e983";
$cft-delivery-man: "\e984";
$cft-plug-integration: "\e985";
$cft-select-circle: "\e986";
$cft-file: "\e987";
$cft-puzzle: "\e988";
$cft-duplicate: "\e989";
$cft-round-direction-left: "\e98a";
$cft-signal: "\e98b";
$cft-chef: "\e98c";
$cft-male: "\e98d";
$cft-paint-brush: "\e98e";
$cft-devices: "\e98f";
$cft-eject-round: "\e990";
$cft-contrast: "\e991";
$cft-production-order: "\e992";
$cft-terminal: "\e993";
$cft-theme-editor: "\e994";
$cft-round-direction-up: "\e995";
$cft-move: "\e996";
$cft-delivery: "\e997";
$cft-blocks-view: "\e998";
$cft-sparkles: "\e999";
$cft-city: "\e99a";
$cft-chevron-up: "\e99b";
$cft-menu-4: "\e99c";
$cft-energy: "\e99d";
$cft-perfume: "\e99e";
$cft-chat-text: "\e99f";
$cft-smartglass: "\e9a0";
$cft-sales-assistant: "\e9a1";
$cft-projector-screen: "\e9a2";
$cft-build: "\e9a3";
$cft-paint-roller: "\e9a4";
$cft-annotations-notes: "\e9a5";
$cft-keyboard: "\e9a6";
$cft-reports: "\e9a7";
$cft-x: "\e9a8";
$cft-clock-warning: "\e9a9";
$cft-qr-code: "\e9aa";
$cft-square-direction-right: "\e9ab";
$cft-panel-sidebar-divided: "\e9ac";
$cft-visibilty-off: "\e9ad";
$cft-zip: "\e9ae";
$cft-lock: "\e9af";
$cft-chart-pie-2: "\e9b0";
$cft-round-direction-downward-left: "\e9b1";
$cft-sorting-number-descending: "\e9b2";
$cft-curved-file: "\e9b3";
$cft-chat-typing: "\e9b4";
$cft-shopping-bag: "\e9b5";
$cft-divide: "\e9b6";
$cft-cocktail-glass: "\e9b7";
$cft-calendar-month: "\e9b8";
$cft-desk-kit: "\e9b9";
$cft-promo-percent: "\e9ba";
$cft-archive-doc: "\e9bb";
$cft-calendar-event: "\e9bc";
$cft-inventory: "\e9bd";
$cft-moisturizer: "\e9be";
$cft-money-2: "\e9bf";
$cft-pen: "\e9c0";
$cft-credit-card-add: "\e9c1";
$cft-chevron-right: "\e9c2";
$cft-bullet-list: "\e9c3";
$cft-projection-tripod: "\e9c4";
$cft-clipboard: "\e9c5";
$cft-swap-vertical: "\e9c6";
$cft-shield-user: "\e9c7";
$cft-translate-2: "\e9c8";
$cft-swap-horizontal: "\e9c9";
$cft-columns1: "\e9ca";
$cft-instagram: "\e9cb";
$cft-euro: "\e9cc";
$cft-pointer-double: "\e9cd";
$cft-link: "\e9ce";
$cft-gift-box-2: "\e9cf";
$cft-certificate: "\e9d0";
$cft-ship-box-2: "\e9d1";
$cft-key: "\e9d2";
$cft-rename: "\e9d3";
$cft-sad: "\e9d4";
$cft-filmstrip: "\e9d5";
$cft-sorting-alphab-ascending: "\e9d6";
$cft-notification-loud: "\e9d7";
$cft-party-balloon: "\e9d8";
$cft-drag-line: "\e9d9";
$cft-arrow-right: "\e9da";
$cft-store: "\e9db";
$cft-box-pack: "\e9dc";
$cft-at: "\e9dd";
$cft-notebook-open: "\e9de";
$cft-cry: "\e9df";
$cft-publish-round: "\e9e0";
$cft-treasure-map: "\e9e1";
$cft-agenda-cover: "\e9e2";
$cft-pet-paw: "\e9e3";
$cft-upload-round: "\e9e4";
$cft-song: "\e9e5";
$cft-digital-camera: "\e9e6";
$cft-stopwatch: "\e9e7";
$cft-group: "\e9e8";
$cft-settings: "\e9e9";
$cft-ellipse: "\e9ea";
$cft-pos-machine: "\e9eb";
$cft-rugby: "\e9ec";
$cft-setting-content: "\e9ed";
$cft-thumbs-down: "\e9ee";
$cft-compose: "\e9ef";
$cft-financial-report: "\e9f0";
$cft-envelope: "\e9f1";
$cft-templates: "\e9f2";
$cft-position: "\e9f3";
$cft-square-piramyd: "\e9f4";
$cft-bazier-path: "\e9f5";
$cft-pix: "\e9f6";
$cft-candy: "\e9f7";
$cft-mail: "\e9f8";
$cft-arrow-big-right: "\e9f9";
$cft-shield: "\e9fa";
$cft-calendar-today: "\e9fb";
$cft-download: "\e9fc";
$cft-coin-2: "\e9fd";
$cft-expand: "\e9fe";
$cft-file-warning: "\e9ff";
$cft-fast-shipping: "\ea00";
$cft-paper-pin: "\ea01";
$cft-eject-square: "\ea02";
$cft-deck-cards: "\ea03";
$cft-magic-wand: "\ea04";
$cft-import: "\ea05";
$cft-travel-suitcase: "\ea06";
$cft-apps: "\ea07";
$cft-gallery: "\ea08";
$cft-tv-retro: "\ea09";
$cft-divide-square: "\ea0a";
$cft-jar: "\ea0b";
$cft-add-square: "\ea0c";
$cft-takeout: "\ea0d";
$cft-skip-forward: "\ea0e";
$cft-pound: "\ea0f";
$cft-cash-drawer: "\ea10";
$cft-battery-medium: "\ea11";
$cft-text-align-justify: "\ea12";
$cft-cancel-round: "\ea13";
$cft-injection-syringe: "\ea14";
$cft-lock-square: "\ea15";
$cft-pointer-up: "\ea16";
$cft-comment-typing: "\ea17";
$cft-login: "\ea18";
$cft-radio: "\ea19";
$cft-book: "\ea1a";
$cft-file-tree: "\ea1b";
$cft-day: "\ea1c";
$cft-chat-conversation: "\ea1d";
$cft-direction-downward-left: "\ea1e";
$cft-neutral: "\ea1f";
$cft-financial-entries: "\ea20";
$cft-lock-round: "\ea21";
$cft-car-front: "\ea22";
$cft-scissor: "\ea23";
$cft-shield-error: "\ea24";
$cft-skull: "\ea25";
$cft-sphere: "\ea26";
$cft-add-collection: "\ea27";
$cft-automate-campaign: "\ea28";
$cft-wallet: "\ea29";
$cft-paper-folded-2: "\ea2a";
$cft-rotate-content: "\ea2b";
$cft-panel-header-sidebar: "\ea2c";
$cft-dashboard: "\ea2d";
$cft-code: "\ea2e";
$cft-settings-2: "\ea2f";
$cft-chat-love: "\ea30";
$cft-smartwatch-round: "\ea31";
$cft-telegram: "\ea32";
$cft-block-sign: "\ea33";
$cft-flag: "\ea34";
$cft-exchange: "\ea35";
$cft-gameboy: "\ea36";
$cft-observation: "\ea37";
$cft-stop: "\ea38";
$cft-results-board: "\ea39";
$cft-newspaper: "\ea3a";
$cft-system-bug: "\ea3b";
$cft-star-square: "\ea3c";
$cft-cube: "\ea3d";
$cft-bomb: "\ea3e";
$cft-pound-round: "\ea3f";
$cft-vynil: "\ea40";
$cft-star-half: "\ea41";
$cft-release-notes: "\ea42";
$cft-ruler: "\ea43";
$cft-nav-backward: "\ea44";
$cft-work: "\ea45";
$cft-fax: "\ea46";
$cft-round-blink: "\ea47";
$cft-user-remove: "\ea48";
$cft-cancel-square: "\ea49";
$cft-leaf-2: "\ea4a";
$cft-bold: "\ea4b";
$cft-triangule: "\ea4c";
$cft-user-error: "\ea4d";
$cft-boxed-list: "\ea4e";
$cft-trophy: "\ea4f";
$cft-maintenance-plate: "\ea50";
$cft-share-2: "\ea51";
$cft-battery-full: "\ea52";
$cft-clock-square: "\ea53";
$cft-store-2: "\ea54";
$cft-bowling: "\ea55";
$cft-check: "\ea56";
$cft-nut: "\ea57";
$cft-warning: "\ea58";
$cft-pointer-right-circle: "\ea59";
$cft-battery-high: "\ea5a";
$cft-hospital: "\ea5b";
$cft-panel-list: "\ea5c";
$cft-bluetooth: "\ea5d";
$cft-headphones: "\ea5e";
$cft-video-content: "\ea5f";
$cft-filter-2: "\ea60";
$cft-dot-large: "\ea61";
$cft-drag-drop-vertical: "\ea62";
$cft-rss: "\ea63";
$cft-remove-square: "\ea64";
$cft-watch: "\ea65";
$cft-pointer-down: "\ea66";
$cft-store-3: "\ea67";
$cft-happy: "\ea68";
$cft-share-3: "\ea69";
$cft-article-caption: "\ea6a";
$cft-ipod: "\ea6b";
$cft-pointer-up-circle: "\ea6c";
$cft-milk-bottle: "\ea6d";
$cft-info: "\ea6e";
$cft-tablet-portrait: "\ea6f";
$cft-money-vault: "\ea70";
$cft-check-round: "\ea71";
$cft-radiobox: "\ea72";
$cft-intercom: "\ea73";
$cft-direction-up: "\ea74";
$cft-text-sheet: "\ea75";
$cft-palette: "\ea76";
$cft-spoon: "\ea77";
$cft-user-add: "\ea78";
$cft-add: "\ea79";
$cft-truck-fast: "\ea7a";
$cft-speedometer: "\ea7b";
$cft-panel-sidebar-right: "\ea7c";
$cft-pause-round: "\ea7d";
$cft-volleyball: "\ea7e";
$cft-american-football: "\ea7f";
$cft-pants: "\ea80";
$cft-orders: "\ea81";
$cft-quote-down-round: "\ea82";
$cft-milk-carton: "\ea83";
$cft-content-expand: "\ea84";
$cft-list-view: "\ea85";
$cft-printer-receipt: "\ea86";
$cft-soup: "\ea87";
$cft-text-sheet-stack: "\ea88";
$cft-comment-text: "\ea89";
$cft-padlock-unlocked: "\ea8a";
$cft-stand-office: "\ea8b";
$cft-copy: "\ea8c";
$cft-fish: "\ea8d";
$cft-zoom-in: "\ea8e";
$cft-racing-flag: "\ea8f";
$cft-mansory-grid: "\ea90";
$cft-glasses: "\ea91";
$cft-coins: "\ea92";
$cft-refresh: "\ea93";
$cft-snapchat: "\ea94";
$cft-very-sad: "\ea95";
$cft-panel-footer: "\ea96";
$cft-text: "\ea97";
$cft-image: "\ea98";
$cft-deck-cards-2: "\ea99";
$cft-user-love: "\ea9a";
$cft-lightbulb: "\ea9b";
$cft-ship-box: "\ea9c";
$cft-smile: "\ea9d";
$cft-hang-frame: "\ea9e";
$cft-navigation: "\ea9f";
$cft-fork: "\eaa0";
$cft-dine-in: "\eaa1";
$cft-rio-de-janeiro: "\eaa2";
$cft-fast-previous: "\eaa3";
$cft-text-edit: "\eaa4";
$cft-pin-map: "\eaa5";
$cft-volume-mute: "\eaa6";
$cft-archive-box: "\eaa7";
$cft-egypt: "\eaa8";
$cft-film-content: "\eaa9";
$cft-signposts: "\eaaa";
$cft-direction-right: "\eaab";
$cft-book-opened: "\eaac";
$cft-fast-forward: "\eaad";
$cft-medal-2: "\eaae";
$cft-sheets-content: "\eaaf";
$cft-stop-round: "\eab0";
$cft-zoom-out: "\eab1";
$cft-credit-card-simple: "\eab2";
$cft-thumbs-up: "\eab3";
$cft-pasta: "\eab4";
$cft-paper-folded: "\eab5";
$cft-battery-low: "\eab6";
$cft-help-2: "\eab7";
$cft-style: "\eab8";
$cft-monetary: "\eab9";
$cft-purchase-order: "\eaba";
$cft-contract: "\eabb";
$cft-data-transfer-vertical: "\eabc";
$cft-percent: "\eabd";
$cft-framing: "\eabe";
$cft-crown: "\eabf";
$cft-round-direction-right: "\eac0";
$cft-network-modem: "\eac1";
$cft-side-list-view: "\eac2";
$cft-donut: "\eac3";
$cft-play: "\eac4";
$cft-soccer-ball: "\eac5";
$cft-checkout-counter: "\eac6";
$cft-skip-previous-circle: "\eac7";
$cft-notification: "\eac8";
$cft-cycling: "\eac9";
$cft-flow-2: "\eaca";
$cft-file-check: "\eacb";
$cft-coin: "\eacc";
$cft-agenda: "\eacd";
$cft-saturn: "\eace";
$cft-send: "\eacf";
$cft-design-kit: "\ead0";
$cft-play-store: "\ead1";
$cft-barcode: "\ead2";
$cft-bar: "\ead3";
$cft-coupon: "\ead4";
$cft-flow: "\ead5";
$cft-medal-3: "\ead6";
$cft-night: "\ead7";
$cft-facebook: "\ead8";
$cft-publish: "\ead9";
$cft-drag-drop-horizontal: "\eada";
$cft-panel-sidebar-header: "\eadb";
$cft-list-ascending: "\eadc";
$cft-battery-empty: "\eadd";
$cft-wi-fi: "\eade";
$cft-camera: "\eadf";
$cft-printer: "\eae0";
$cft-smartwatch: "\eae1";
$cft-redo: "\eae2";
$cft-plugin-content: "\eae3";
$cft-pinterest: "\eae4";
$cft-truck: "\eae5";
$cft-groups: "\eae6";
$cft-home-3: "\eae7";
$cft-chat-minimal: "\eae8";
$cft-money-briefcase: "\eae9";
$cft-blender: "\eaea";
$cft-mute: "\eaeb";
$cft-pen-tool: "\eaec";
$cft-wine-glass: "\eaed";
$cft-saving: "\eaee";
$cft-visibilty: "\eaef";
$cft-return-right: "\eaf0";
$cft-whatsapp: "\eaf1";
$cft-line: "\eaf2";
$cft-egg: "\eaf3";
$cft-window-programming: "\eaf4";
$cft-parameters: "\eaf5";
$cft-comment-star: "\eaf6";
$cft-tablet-landscape: "\eaf7";
$cft-grid-system: "\eaf8";
$cft-pointer-left: "\eaf9";
$cft-attachment: "\eafa";
$cft-gift-box: "\eafb";
$cft-pointer-down-circle: "\eafc";
$cft-diskette: "\eafd";
$cft-trash: "\eafe";
$cft-chart-bar: "\eaff";
$cft-menu-expand: "\eb00";
$cft-eleptical-marquee: "\eb01";
$cft-leaf: "\eb02";
$cft-network: "\eb03";
$cft-panel-sidebar: "\eb04";
$cft-math-divide-round: "\eb05";
$cft-text-align-left: "\eb06";
$cft-income: "\eb07";
$cft-banknotes: "\eb08";
$cft-customer-support: "\eb09";
$cft-star: "\eb0a";
$cft-notification-off: "\eb0b";
$cft-cd: "\eb0c";
$cft-wrench: "\eb0d";
$cft-home-2: "\eb0e";
$cft-checklist: "\eb0f";
$cft-chart-column: "\eb10";
$cft-panel-header: "\eb11";
$cft-trencher-hat: "\eb12";
$cft-edit: "\eb13";
$cft-skip-previous: "\eb14";
$cft-browser: "\eb15";
$cft-contactless: "\eb16";
$cft-checkbox: "\eb17";
$cft-teapot: "\eb18";
$cft-nav-back: "\eb19";
$cft-wheelchair: "\eb1a";
$cft-chart-pie: "\eb1b";
$cft-panel-simple: "\eb1c";
$cft-lifebuoy: "\eb1d";
$cft-bug: "\eb1e";
$cft-volume-high: "\eb1f";
$cft-mail-birdhouse: "\eb20";
$cft-mail-open: "\eb21";
$cft-youtube: "\eb22";
$cft-data-storage: "\eb23";
$cft-name-tag: "\eb24";
$cft-collection: "\eb25";
$cft-idea: "\eb26";
$cft-unlock: "\eb27";
$cft-to-top: "\eb28";
$cft-compass: "\eb29";
$cft-hang-tag: "\eb2a";
$cft-knife: "\eb2b";
$cft-clock-rush: "\eb2c";
$cft-promo-price: "\eb2d";
$cft-pharmacy: "\eb2e";
$cft-pencil-2: "\eb2f";
$cft-store-round: "\eb30";
$cft-woman: "\eb31";
$cft-columns2: "\eb32";
$cft-grid-circle: "\eb33";
$cft-bank: "\eb34";
$cft-credit-card: "\eb35";
$cft-cylinder: "\eb36";
$cft-computer: "\eb37";
$cft-shopping-bag-2: "\eb38";
$cft-lightning-bolt: "\eb39";
$cft-remove-round: "\eb3a";
$cft-pencil: "\eb3b";
$cft-language: "\eb3c";
$cft-boxing-glove: "\eb3d";
$cft-integration: "\eb3e";
$cft-sort-list: "\eb3f";
$cft-shape-boundary: "\eb40";
$cft-basketball: "\eb41";
$cft-diamond: "\eb42";
$cft-square-direction-down: "\eb43";
$cft-clock: "\eb44";
$cft-movie-camera: "\eb45";
$cft-android-brand-2: "\eb46";
$cft-user-settings: "\eb47";
$cft-arrow-big-left: "\eb48";
$cft-results-meeting: "\eb49";
$cft-app-notification: "\eb4a";
$cft-hanger: "\eb4b";
$cft-enter-room: "\eb4c";
$cft-yen-round: "\eb4d";
$cft-repeat-all: "\eb4e";
$cft-dumbbell: "\eb4f";
$cft-sync: "\eb50";
$cft-call: "\eb51";
$cft-eye: "\eb52";
$cft-view-off: "\eb53";
$cft-delivery-2: "\eb54";
$cft-plant-vase-2: "\eb55";
$cft-location: "\eb56";
$cft-flower: "\eb57";
$cft-menu-contract: "\eb58";
$cft-power-switch: "\eb59";
$cft-comment-simple: "\eb5a";
$cft-location-2: "\eb5b";
$cft-pill: "\eb5c";
$cft-square-direction-up: "\eb5d";
$cft-gift: "\eb5e";
$cft-mobile-portrait: "\eb5f";
$cft-external-link: "\eb60";
$cft-car: "\eb61";
$cft-notebook-folder: "\eb62";
$cft-text-align-right: "\eb63";
$cft-order-service: "\eb64";
$cft-more-vertical: "\eb65";
$cft-panel-header-divided: "\eb66";
$cft-direction-downward-right: "\eb67";
$cft-square-direction-upward-right: "\eb68";
$cft-observation-love: "\eb69";
$cft-square-direction-downward-left: "\eb6a";
$cft-baseball: "\eb6b";
$cft-profile: "\eb6c";
$cft-share: "\eb6d";
$cft-ruler-triangule: "\eb6e";
$cft-arrow-up: "\eb6f";
$cft-geo-globe: "\eb70";
$cft-money: "\eb71";
$cft-direction-down: "\eb72";
$cft-return-up: "\eb73";
$cft-folder-add: "\eb74";
$cft-linkedin: "\eb75";
$cft-sort: "\eb76";
$cft-remove: "\eb77";
$cft-modules: "\eb78";
$cft-undo: "\eb79";
$cft-video: "\eb7a";
$cft-postal-package: "\eb7b";
$cft-pos-register: "\eb7c";
$cft-robot: "\eb7d";
$cft-padlock-locked: "\eb7e";
$cft-id-card: "\eb7f";
$cft-quote-up-round: "\eb80";
$cft-filter: "\eb81";
$cft-build-rounded: "\eb82";
$cft-file-remove: "\eb83";
$cft-switch: "\eb84";
$cft-check-double: "\eb85";
$cft-italic: "\eb86";
$cft-flowtree: "\eb87";
$cft-medal: "\eb88";
$cft-calendar: "\eb89";
$cft-baby-stroller: "\eb8a";
$cft-video-camera: "\eb8b";
$cft-globe: "\eb8c";
$cft-arrow-left: "\eb8d";
$cft-coupon-2: "\eb8e";
$cft-yen: "\eb8f";
$cft-chat-face: "\eb90";
$cft-domino: "\eb91";
$cft-square-direction-upward-left: "\eb92";
$cft-school-book: "\eb93";
$cft-gift-2: "\eb94";
$cft-laptop: "\eb95";
$cft-select-object: "\eb96";
$cft-arrow-big-up: "\eb97";
$cft-financial-statement: "\eb98";
$cft-club-suit: "\eb99";
$cft-manager: "\eb9a";
$cft-volume-low: "\eb9b";
$cft-scanner: "\eb9c";
$cft-rocket-launch: "\eb9d";
$cft-shorts: "\eb9e";
$cft-audio-waves: "\eb9f";
$cft-disappear: "\eba0";
$cft-mouse-cursor: "\eba1";
$cft-cloud: "\eba2";
$cft-star-round: "\eba3";
$cft-shuffle: "\eba4";
$cft-window: "\eba5";
$cft-videogame-controler: "\eba6";
$cft-gemstone: "\eba7";
$cft-supplier: "\eba8";
$cft-search-list: "\eba9";
$cft-table-tenis: "\ebaa";
$cft-skull-angry: "\ebab";
$cft-motorcycle: "\ebac";
$cft-upload: "\ebad";
$cft-trending-down: "\ebae";
$cft-messenger: "\ebaf";
$cft-slider-left: "\ebb0";
$cft-apple-brand: "\ebb1";
$cft-text-content: "\ebb2";
$cft-peanut: "\ebb3";
$cft-text-sheet-folded: "\ebb4";
$cft-pause: "\ebb5";
$cft-square-direction-downward-right: "\ebb6";
$cft-juice-cup: "\ebb7";
$cft-flowtree-2: "\ebb8";
$cft-android-brand: "\ebb9";
$cft-place-pin: "\ebba";
$cft-forward: "\ebbb";
$cft-kanban-view: "\ebbc";
$cft-bookmark: "\ebbd";
$cft-help: "\ebbe";
$cft-status: "\ebbf";
$cft-rocket: "\ebc0";
$cft-socket: "\ebc1";
$cft-add-round: "\ebc2";
$cft-employee: "\ebc3";
$cft-inbox-receive: "\ebc4";
$cft-user-check: "\ebc5";
$cft-tag-love: "\ebc6";
$cft-iphone: "\ebc7";
$cft-statement: "\ebc8";
$cft-round-direction-down: "\ebc9";
$cft-file-blocked: "\ebca";
$cft-pamphlet: "\ebcb";
$cft-ice-cream: "\ebcc";
$cft-menu: "\ebcd";
$cft-happy-love: "\ebce";
$cft-brightness: "\ebcf";
$cft-soda-glass: "\ebd0";
$cft-backspace: "\ebd1";
$cft-arrow-rightward: "\ebd2";
$cft-chat-simple: "\ebd3";
$cft-play-round: "\ebd4";
$cft-mobile-landscape: "\ebd5";
$cft-shopping-cart: "\ebd6";
$cft-id: "\ebd7";
$cft-calculator: "\ebd8";
$cft-direction-upward-left: "\ebd9";
$cft-return-down: "\ebda";
$cft-mouse: "\ebdb";
$cft-female: "\ebdc";
$cft-beach: "\ebdd";
$cft-shield-check: "\ebde";
$cft-sales-contract: "\ebdf";
$cft-columns3: "\ebe0";
$cft-adobe-acrobat: "\ebe1";
$cft-shopping-basket: "\ebe2";
$cft-man: "\ebe3";
$cft-mail-doc: "\ebe4";
$cft-building: "\ebe5";
$cft-angry: "\ebe6";
$cft-history: "\ebe7";
$cft-rhombus: "\ebe8";
$cft-folder: "\ebe9";
$cft-alarm: "\ebea";
$cft-gift-card: "\ebeb";
$cft-arrow-leftward: "\ebec";
$cft-fingerprint: "\ebed";
$cft-timer: "\ebee";
$cft-clipboard-check: "\ebef";
$cft-tiktok: "\ebf0";
$cft-activity-monitor-square: "\ebf1";
$cft-chevron-left: "\ebf2";
$cft-slider-right: "\ebf3";
$cft-moon: "\ebf4";
$cft-blink: "\ebf5";
$cft-behance: "\ebf6";
$cft-band-aid: "\ebf7";
$cft-accessibility: "\ebf8";
$cft-surprise: "\ebf9";
$cft-customer: "\ebfa";
$cft-list-descending: "\ebfb";
$cft-round-direction-upward-left: "\ebfc";
$cft-proposal: "\ebfd";
$cft-flip-horizontal: "\ebfe";
$cft-notebook: "\ebff";
$cft-edit-inline: "\ec00";
$cft-sofa: "\ec01";
$cft-cherry: "\ec02";
$cft-percent-round: "\ec03";
$cft-heart: "\ec04";

