$icomoon-font-family: "Curaft-Icon-Set-Sharp-Stroke" !default;
$icomoon-font-path: "fonts" !default;

$cft-columns: unquote('"\\e900"');
$cft-data-transfer-horizontal: unquote('"\\e901"');
$cft-underline: unquote('"\\e902"');
$cft-sorting-number-ascending: unquote('"\\e903"');
$cft-panel-divided: unquote('"\\e904"');
$cft-transfer: unquote('"\\e905"');
$cft-lightning: unquote('"\\e906"');
$cft-search: unquote('"\\e907"');
$cft-notes: unquote('"\\e908"');
$cft-grid-view: unquote('"\\e909"');
$cft-camera-add: unquote('"\\e90a"');
$cft-task: unquote('"\\e90b"');
$cft-pointer-left-circle: unquote('"\\e90c"');
$cft-eraser: unquote('"\\e90d"');
$cft-download-round: unquote('"\\e90e"');
$cft-voice-over: unquote('"\\e90f"');
$cft-receipt: unquote('"\\e910"');
$cft-arrow-down: unquote('"\\e911"');
$cft-expand-all-2: unquote('"\\e912"');
$cft-earth: unquote('"\\e913"');
$cft-quote-down: unquote('"\\e914"');
$cft-diamond-shape: unquote('"\\e915"');
$cft-megaphone: unquote('"\\e916"');
$cft-pos-register-2: unquote('"\\e917"');
$cft-tennis-ball: unquote('"\\e918"');
$cft-trending-top: unquote('"\\e919"');
$cft-agenda-bookmark: unquote('"\\e91a"');
$cft-briefcase-2: unquote('"\\e91b"');
$cft-switches: unquote('"\\e91c"');
$cft-plant-vase: unquote('"\\e91d"');
$cft-shopping-cart-entry: unquote('"\\e91e"');
$cft-dot-divider: unquote('"\\e91f"');
$cft-sales-money: unquote('"\\e920"');
$cft-flip-vertical: unquote('"\\e921"');
$cft-file-error: unquote('"\\e922"');
$cft-cutlery: unquote('"\\e923"');
$cft-target: unquote('"\\e924"');
$cft-direction-left: unquote('"\\e925"');
$cft-printer-add: unquote('"\\e926"');
$cft-signture: unquote('"\\e927"');
$cft-fast-forward-circle: unquote('"\\e928"');
$cft-digital-video-camera: unquote('"\\e929"');
$cft-repeat: unquote('"\\e92a"');
$cft-coffee-bottle: unquote('"\\e92b"');
$cft-direction-upward-right: unquote('"\\e92c"');
$cft-hourglass: unquote('"\\e92d"');
$cft-microwave: unquote('"\\e92e"');
$cft-menu-3: unquote('"\\e92f"');
$cft-user-clipboard: unquote('"\\e930"');
$cft-contact-agenda: unquote('"\\e931"');
$cft-tag-2: unquote('"\\e932"');
$cft-reply: unquote('"\\e933"');
$cft-hamburger: unquote('"\\e934"');
$cft-variables: unquote('"\\e935"');
$cft-translate: unquote('"\\e936"');
$cft-cone-icecream: unquote('"\\e937"');
$cft-adjustments: unquote('"\\e938"');
$cft-warning-sign: unquote('"\\e939"');
$cft-measure-tape: unquote('"\\e93a"');
$cft-umbrella: unquote('"\\e93b"');
$cft-user: unquote('"\\e93c"');
$cft-arrow-big-down: unquote('"\\e93d"');
$cft-activity-monitor: unquote('"\\e93e"');
$cft-keyboard-2: unquote('"\\e93f"');
$cft-sorting-alphab-descending: unquote('"\\e940"');
$cft-comment-face: unquote('"\\e941"');
$cft-portmanteau: unquote('"\\e942"');
$cft-euro-round: unquote('"\\e943"');
$cft-rubber-stamp: unquote('"\\e944"');
$cft-mouse-retro: unquote('"\\e945"');
$cft-battery-charge: unquote('"\\e946"');
$cft-dollar-round: unquote('"\\e947"');
$cft-menu-2: unquote('"\\e948"');
$cft-settings-automation: unquote('"\\e949"');
$cft-upset: unquote('"\\e94a"');
$cft-dollar: unquote('"\\e94b"');
$cft-quote-up: unquote('"\\e94c"');
$cft-square-direction-left: unquote('"\\e94d"');
$cft-rectangle: unquote('"\\e94e"');
$cft-text-align-center: unquote('"\\e94f"');
$cft-round-direction-upward-right: unquote('"\\e950"');
$cft-home: unquote('"\\e951"');
$cft-color-adjustments: unquote('"\\e952"');
$cft-mailbox: unquote('"\\e953"');
$cft-music: unquote('"\\e954"');
$cft-more-horizontal: unquote('"\\e955"');
$cft-content-contract: unquote('"\\e956"');
$cft-draggable: unquote('"\\e957"');
$cft-collaborator: unquote('"\\e958"');
$cft-identification-card: unquote('"\\e959"');
$cft-eject: unquote('"\\e95a"');
$cft-chevron-down: unquote('"\\e95b"');
$cft-logout: unquote('"\\e95c"');
$cft-pin-2: unquote('"\\e95d"');
$cft-coffee-cup: unquote('"\\e95e"');
$cft-shirt: unquote('"\\e95f"');
$cft-rectangular-marquee: unquote('"\\e960"');
$cft-call-round: unquote('"\\e961"');
$cft-round-direction-downward-right: unquote('"\\e962"');
$cft-cancel: unquote('"\\e963"');
$cft-cone: unquote('"\\e964"');
$cft-rotate: unquote('"\\e965"');
$cft-nav-foward: unquote('"\\e966"');
$cft-usb: unquote('"\\e967"');
$cft-chip: unquote('"\\e968"');
$cft-water-polo: unquote('"\\e969"');
$cft-export: unquote('"\\e96a"');
$cft-usb-a: unquote('"\\e96b"');
$cft-crop: unquote('"\\e96c"');
$cft-chat-help: unquote('"\\e96d"');
$cft-tag: unquote('"\\e96e"');
$cft-text-2: unquote('"\\e96f"');
$cft-briefcase: unquote('"\\e970"');
$cft-return-left: unquote('"\\e971"');
$cft-skip-foward-circle: unquote('"\\e972"');
$cft-fast-previous-circle: unquote('"\\e973"');
$cft-user-frame: unquote('"\\e974"');
$cft-pointer-right: unquote('"\\e975"');
$cft-plugin: unquote('"\\e976"');
$cft-support-agent: unquote('"\\e977"');
$cft-diamond-gem: unquote('"\\e978"');
$cft-remote-working: unquote('"\\e979"');
$cft-file-add: unquote('"\\e97a"');
$cft-inbox: unquote('"\\e97b"');
$cft-paper-map: unquote('"\\e97c"');
$cft-menu-5: unquote('"\\e97d"');
$cft-power: unquote('"\\e97e"');
$cft-user-union: unquote('"\\e97f"');
$cft-microphone: unquote('"\\e980"');
$cft-verified: unquote('"\\e981"');
$cft-database: unquote('"\\e982"');
$cft-calendar-day: unquote('"\\e983"');
$cft-delivery-man: unquote('"\\e984"');
$cft-plug-integration: unquote('"\\e985"');
$cft-select-circle: unquote('"\\e986"');
$cft-file: unquote('"\\e987"');
$cft-puzzle: unquote('"\\e988"');
$cft-duplicate: unquote('"\\e989"');
$cft-round-direction-left: unquote('"\\e98a"');
$cft-signal: unquote('"\\e98b"');
$cft-chef: unquote('"\\e98c"');
$cft-male: unquote('"\\e98d"');
$cft-paint-brush: unquote('"\\e98e"');
$cft-devices: unquote('"\\e98f"');
$cft-eject-round: unquote('"\\e990"');
$cft-contrast: unquote('"\\e991"');
$cft-production-order: unquote('"\\e992"');
$cft-terminal: unquote('"\\e993"');
$cft-theme-editor: unquote('"\\e994"');
$cft-round-direction-up: unquote('"\\e995"');
$cft-move: unquote('"\\e996"');
$cft-delivery: unquote('"\\e997"');
$cft-blocks-view: unquote('"\\e998"');
$cft-sparkles: unquote('"\\e999"');
$cft-city: unquote('"\\e99a"');
$cft-chevron-up: unquote('"\\e99b"');
$cft-menu-4: unquote('"\\e99c"');
$cft-energy: unquote('"\\e99d"');
$cft-perfume: unquote('"\\e99e"');
$cft-chat-text: unquote('"\\e99f"');
$cft-smartglass: unquote('"\\e9a0"');
$cft-sales-assistant: unquote('"\\e9a1"');
$cft-projector-screen: unquote('"\\e9a2"');
$cft-build: unquote('"\\e9a3"');
$cft-paint-roller: unquote('"\\e9a4"');
$cft-annotations-notes: unquote('"\\e9a5"');
$cft-keyboard: unquote('"\\e9a6"');
$cft-reports: unquote('"\\e9a7"');
$cft-x: unquote('"\\e9a8"');
$cft-clock-warning: unquote('"\\e9a9"');
$cft-qr-code: unquote('"\\e9aa"');
$cft-square-direction-right: unquote('"\\e9ab"');
$cft-panel-sidebar-divided: unquote('"\\e9ac"');
$cft-visibilty-off: unquote('"\\e9ad"');
$cft-zip: unquote('"\\e9ae"');
$cft-lock: unquote('"\\e9af"');
$cft-chart-pie-2: unquote('"\\e9b0"');
$cft-round-direction-downward-left: unquote('"\\e9b1"');
$cft-sorting-number-descending: unquote('"\\e9b2"');
$cft-curved-file: unquote('"\\e9b3"');
$cft-chat-typing: unquote('"\\e9b4"');
$cft-shopping-bag: unquote('"\\e9b5"');
$cft-divide: unquote('"\\e9b6"');
$cft-cocktail-glass: unquote('"\\e9b7"');
$cft-calendar-month: unquote('"\\e9b8"');
$cft-desk-kit: unquote('"\\e9b9"');
$cft-promo-percent: unquote('"\\e9ba"');
$cft-archive-doc: unquote('"\\e9bb"');
$cft-calendar-event: unquote('"\\e9bc"');
$cft-inventory: unquote('"\\e9bd"');
$cft-moisturizer: unquote('"\\e9be"');
$cft-money-2: unquote('"\\e9bf"');
$cft-pen: unquote('"\\e9c0"');
$cft-credit-card-add: unquote('"\\e9c1"');
$cft-chevron-right: unquote('"\\e9c2"');
$cft-bullet-list: unquote('"\\e9c3"');
$cft-projection-tripod: unquote('"\\e9c4"');
$cft-clipboard: unquote('"\\e9c5"');
$cft-swap-vertical: unquote('"\\e9c6"');
$cft-shield-user: unquote('"\\e9c7"');
$cft-translate-2: unquote('"\\e9c8"');
$cft-swap-horizontal: unquote('"\\e9c9"');
$cft-columns1: unquote('"\\e9ca"');
$cft-instagram: unquote('"\\e9cb"');
$cft-euro: unquote('"\\e9cc"');
$cft-pointer-double: unquote('"\\e9cd"');
$cft-link: unquote('"\\e9ce"');
$cft-gift-box-2: unquote('"\\e9cf"');
$cft-certificate: unquote('"\\e9d0"');
$cft-ship-box-2: unquote('"\\e9d1"');
$cft-key: unquote('"\\e9d2"');
$cft-rename: unquote('"\\e9d3"');
$cft-sad: unquote('"\\e9d4"');
$cft-filmstrip: unquote('"\\e9d5"');
$cft-sorting-alphab-ascending: unquote('"\\e9d6"');
$cft-notification-loud: unquote('"\\e9d7"');
$cft-party-balloon: unquote('"\\e9d8"');
$cft-drag-line: unquote('"\\e9d9"');
$cft-arrow-right: unquote('"\\e9da"');
$cft-store: unquote('"\\e9db"');
$cft-box-pack: unquote('"\\e9dc"');
$cft-at: unquote('"\\e9dd"');
$cft-notebook-open: unquote('"\\e9de"');
$cft-cry: unquote('"\\e9df"');
$cft-publish-round: unquote('"\\e9e0"');
$cft-treasure-map: unquote('"\\e9e1"');
$cft-agenda-cover: unquote('"\\e9e2"');
$cft-pet-paw: unquote('"\\e9e3"');
$cft-upload-round: unquote('"\\e9e4"');
$cft-song: unquote('"\\e9e5"');
$cft-digital-camera: unquote('"\\e9e6"');
$cft-stopwatch: unquote('"\\e9e7"');
$cft-group: unquote('"\\e9e8"');
$cft-settings: unquote('"\\e9e9"');
$cft-ellipse: unquote('"\\e9ea"');
$cft-pos-machine: unquote('"\\e9eb"');
$cft-rugby: unquote('"\\e9ec"');
$cft-setting-content: unquote('"\\e9ed"');
$cft-thumbs-down: unquote('"\\e9ee"');
$cft-compose: unquote('"\\e9ef"');
$cft-financial-report: unquote('"\\e9f0"');
$cft-envelope: unquote('"\\e9f1"');
$cft-templates: unquote('"\\e9f2"');
$cft-position: unquote('"\\e9f3"');
$cft-square-piramyd: unquote('"\\e9f4"');
$cft-bazier-path: unquote('"\\e9f5"');
$cft-pix: unquote('"\\e9f6"');
$cft-candy: unquote('"\\e9f7"');
$cft-mail: unquote('"\\e9f8"');
$cft-arrow-big-right: unquote('"\\e9f9"');
$cft-shield: unquote('"\\e9fa"');
$cft-calendar-today: unquote('"\\e9fb"');
$cft-download: unquote('"\\e9fc"');
$cft-coin-2: unquote('"\\e9fd"');
$cft-expand: unquote('"\\e9fe"');
$cft-file-warning: unquote('"\\e9ff"');
$cft-fast-shipping: unquote('"\\ea00"');
$cft-paper-pin: unquote('"\\ea01"');
$cft-eject-square: unquote('"\\ea02"');
$cft-deck-cards: unquote('"\\ea03"');
$cft-magic-wand: unquote('"\\ea04"');
$cft-import: unquote('"\\ea05"');
$cft-travel-suitcase: unquote('"\\ea06"');
$cft-apps: unquote('"\\ea07"');
$cft-gallery: unquote('"\\ea08"');
$cft-tv-retro: unquote('"\\ea09"');
$cft-divide-square: unquote('"\\ea0a"');
$cft-jar: unquote('"\\ea0b"');
$cft-add-square: unquote('"\\ea0c"');
$cft-takeout: unquote('"\\ea0d"');
$cft-skip-forward: unquote('"\\ea0e"');
$cft-pound: unquote('"\\ea0f"');
$cft-cash-drawer: unquote('"\\ea10"');
$cft-battery-medium: unquote('"\\ea11"');
$cft-text-align-justify: unquote('"\\ea12"');
$cft-cancel-round: unquote('"\\ea13"');
$cft-injection-syringe: unquote('"\\ea14"');
$cft-lock-square: unquote('"\\ea15"');
$cft-pointer-up: unquote('"\\ea16"');
$cft-comment-typing: unquote('"\\ea17"');
$cft-login: unquote('"\\ea18"');
$cft-radio: unquote('"\\ea19"');
$cft-book: unquote('"\\ea1a"');
$cft-file-tree: unquote('"\\ea1b"');
$cft-day: unquote('"\\ea1c"');
$cft-chat-conversation: unquote('"\\ea1d"');
$cft-direction-downward-left: unquote('"\\ea1e"');
$cft-neutral: unquote('"\\ea1f"');
$cft-financial-entries: unquote('"\\ea20"');
$cft-lock-round: unquote('"\\ea21"');
$cft-car-front: unquote('"\\ea22"');
$cft-scissor: unquote('"\\ea23"');
$cft-shield-error: unquote('"\\ea24"');
$cft-skull: unquote('"\\ea25"');
$cft-sphere: unquote('"\\ea26"');
$cft-add-collection: unquote('"\\ea27"');
$cft-automate-campaign: unquote('"\\ea28"');
$cft-wallet: unquote('"\\ea29"');
$cft-paper-folded-2: unquote('"\\ea2a"');
$cft-rotate-content: unquote('"\\ea2b"');
$cft-panel-header-sidebar: unquote('"\\ea2c"');
$cft-dashboard: unquote('"\\ea2d"');
$cft-code: unquote('"\\ea2e"');
$cft-settings-2: unquote('"\\ea2f"');
$cft-chat-love: unquote('"\\ea30"');
$cft-smartwatch-round: unquote('"\\ea31"');
$cft-telegram: unquote('"\\ea32"');
$cft-block-sign: unquote('"\\ea33"');
$cft-flag: unquote('"\\ea34"');
$cft-exchange: unquote('"\\ea35"');
$cft-gameboy: unquote('"\\ea36"');
$cft-observation: unquote('"\\ea37"');
$cft-stop: unquote('"\\ea38"');
$cft-results-board: unquote('"\\ea39"');
$cft-newspaper: unquote('"\\ea3a"');
$cft-system-bug: unquote('"\\ea3b"');
$cft-star-square: unquote('"\\ea3c"');
$cft-cube: unquote('"\\ea3d"');
$cft-bomb: unquote('"\\ea3e"');
$cft-pound-round: unquote('"\\ea3f"');
$cft-vynil: unquote('"\\ea40"');
$cft-star-half: unquote('"\\ea41"');
$cft-release-notes: unquote('"\\ea42"');
$cft-ruler: unquote('"\\ea43"');
$cft-nav-backward: unquote('"\\ea44"');
$cft-work: unquote('"\\ea45"');
$cft-fax: unquote('"\\ea46"');
$cft-round-blink: unquote('"\\ea47"');
$cft-user-remove: unquote('"\\ea48"');
$cft-cancel-square: unquote('"\\ea49"');
$cft-leaf-2: unquote('"\\ea4a"');
$cft-bold: unquote('"\\ea4b"');
$cft-triangule: unquote('"\\ea4c"');
$cft-user-error: unquote('"\\ea4d"');
$cft-boxed-list: unquote('"\\ea4e"');
$cft-trophy: unquote('"\\ea4f"');
$cft-maintenance-plate: unquote('"\\ea50"');
$cft-share-2: unquote('"\\ea51"');
$cft-battery-full: unquote('"\\ea52"');
$cft-clock-square: unquote('"\\ea53"');
$cft-store-2: unquote('"\\ea54"');
$cft-bowling: unquote('"\\ea55"');
$cft-check: unquote('"\\ea56"');
$cft-nut: unquote('"\\ea57"');
$cft-warning: unquote('"\\ea58"');
$cft-pointer-right-circle: unquote('"\\ea59"');
$cft-battery-high: unquote('"\\ea5a"');
$cft-hospital: unquote('"\\ea5b"');
$cft-panel-list: unquote('"\\ea5c"');
$cft-bluetooth: unquote('"\\ea5d"');
$cft-headphones: unquote('"\\ea5e"');
$cft-video-content: unquote('"\\ea5f"');
$cft-filter-2: unquote('"\\ea60"');
$cft-dot-large: unquote('"\\ea61"');
$cft-drag-drop-vertical: unquote('"\\ea62"');
$cft-rss: unquote('"\\ea63"');
$cft-remove-square: unquote('"\\ea64"');
$cft-watch: unquote('"\\ea65"');
$cft-pointer-down: unquote('"\\ea66"');
$cft-store-3: unquote('"\\ea67"');
$cft-happy: unquote('"\\ea68"');
$cft-share-3: unquote('"\\ea69"');
$cft-article-caption: unquote('"\\ea6a"');
$cft-ipod: unquote('"\\ea6b"');
$cft-pointer-up-circle: unquote('"\\ea6c"');
$cft-milk-bottle: unquote('"\\ea6d"');
$cft-info: unquote('"\\ea6e"');
$cft-tablet-portrait: unquote('"\\ea6f"');
$cft-money-vault: unquote('"\\ea70"');
$cft-check-round: unquote('"\\ea71"');
$cft-radiobox: unquote('"\\ea72"');
$cft-intercom: unquote('"\\ea73"');
$cft-direction-up: unquote('"\\ea74"');
$cft-text-sheet: unquote('"\\ea75"');
$cft-palette: unquote('"\\ea76"');
$cft-spoon: unquote('"\\ea77"');
$cft-user-add: unquote('"\\ea78"');
$cft-add: unquote('"\\ea79"');
$cft-truck-fast: unquote('"\\ea7a"');
$cft-speedometer: unquote('"\\ea7b"');
$cft-panel-sidebar-right: unquote('"\\ea7c"');
$cft-pause-round: unquote('"\\ea7d"');
$cft-volleyball: unquote('"\\ea7e"');
$cft-american-football: unquote('"\\ea7f"');
$cft-pants: unquote('"\\ea80"');
$cft-orders: unquote('"\\ea81"');
$cft-quote-down-round: unquote('"\\ea82"');
$cft-milk-carton: unquote('"\\ea83"');
$cft-content-expand: unquote('"\\ea84"');
$cft-list-view: unquote('"\\ea85"');
$cft-printer-receipt: unquote('"\\ea86"');
$cft-soup: unquote('"\\ea87"');
$cft-text-sheet-stack: unquote('"\\ea88"');
$cft-comment-text: unquote('"\\ea89"');
$cft-padlock-unlocked: unquote('"\\ea8a"');
$cft-stand-office: unquote('"\\ea8b"');
$cft-copy: unquote('"\\ea8c"');
$cft-fish: unquote('"\\ea8d"');
$cft-zoom-in: unquote('"\\ea8e"');
$cft-racing-flag: unquote('"\\ea8f"');
$cft-mansory-grid: unquote('"\\ea90"');
$cft-glasses: unquote('"\\ea91"');
$cft-coins: unquote('"\\ea92"');
$cft-refresh: unquote('"\\ea93"');
$cft-snapchat: unquote('"\\ea94"');
$cft-very-sad: unquote('"\\ea95"');
$cft-panel-footer: unquote('"\\ea96"');
$cft-text: unquote('"\\ea97"');
$cft-image: unquote('"\\ea98"');
$cft-deck-cards-2: unquote('"\\ea99"');
$cft-user-love: unquote('"\\ea9a"');
$cft-lightbulb: unquote('"\\ea9b"');
$cft-ship-box: unquote('"\\ea9c"');
$cft-smile: unquote('"\\ea9d"');
$cft-hang-frame: unquote('"\\ea9e"');
$cft-navigation: unquote('"\\ea9f"');
$cft-fork: unquote('"\\eaa0"');
$cft-dine-in: unquote('"\\eaa1"');
$cft-rio-de-janeiro: unquote('"\\eaa2"');
$cft-fast-previous: unquote('"\\eaa3"');
$cft-text-edit: unquote('"\\eaa4"');
$cft-pin-map: unquote('"\\eaa5"');
$cft-volume-mute: unquote('"\\eaa6"');
$cft-archive-box: unquote('"\\eaa7"');
$cft-egypt: unquote('"\\eaa8"');
$cft-film-content: unquote('"\\eaa9"');
$cft-signposts: unquote('"\\eaaa"');
$cft-direction-right: unquote('"\\eaab"');
$cft-book-opened: unquote('"\\eaac"');
$cft-fast-forward: unquote('"\\eaad"');
$cft-medal-2: unquote('"\\eaae"');
$cft-sheets-content: unquote('"\\eaaf"');
$cft-stop-round: unquote('"\\eab0"');
$cft-zoom-out: unquote('"\\eab1"');
$cft-credit-card-simple: unquote('"\\eab2"');
$cft-thumbs-up: unquote('"\\eab3"');
$cft-pasta: unquote('"\\eab4"');
$cft-paper-folded: unquote('"\\eab5"');
$cft-battery-low: unquote('"\\eab6"');
$cft-help-2: unquote('"\\eab7"');
$cft-style: unquote('"\\eab8"');
$cft-monetary: unquote('"\\eab9"');
$cft-purchase-order: unquote('"\\eaba"');
$cft-contract: unquote('"\\eabb"');
$cft-data-transfer-vertical: unquote('"\\eabc"');
$cft-percent: unquote('"\\eabd"');
$cft-framing: unquote('"\\eabe"');
$cft-crown: unquote('"\\eabf"');
$cft-round-direction-right: unquote('"\\eac0"');
$cft-network-modem: unquote('"\\eac1"');
$cft-side-list-view: unquote('"\\eac2"');
$cft-donut: unquote('"\\eac3"');
$cft-play: unquote('"\\eac4"');
$cft-soccer-ball: unquote('"\\eac5"');
$cft-checkout-counter: unquote('"\\eac6"');
$cft-skip-previous-circle: unquote('"\\eac7"');
$cft-notification: unquote('"\\eac8"');
$cft-cycling: unquote('"\\eac9"');
$cft-flow-2: unquote('"\\eaca"');
$cft-file-check: unquote('"\\eacb"');
$cft-coin: unquote('"\\eacc"');
$cft-agenda: unquote('"\\eacd"');
$cft-saturn: unquote('"\\eace"');
$cft-send: unquote('"\\eacf"');
$cft-design-kit: unquote('"\\ead0"');
$cft-play-store: unquote('"\\ead1"');
$cft-barcode: unquote('"\\ead2"');
$cft-bar: unquote('"\\ead3"');
$cft-coupon: unquote('"\\ead4"');
$cft-flow: unquote('"\\ead5"');
$cft-medal-3: unquote('"\\ead6"');
$cft-night: unquote('"\\ead7"');
$cft-facebook: unquote('"\\ead8"');
$cft-publish: unquote('"\\ead9"');
$cft-drag-drop-horizontal: unquote('"\\eada"');
$cft-panel-sidebar-header: unquote('"\\eadb"');
$cft-list-ascending: unquote('"\\eadc"');
$cft-battery-empty: unquote('"\\eadd"');
$cft-wi-fi: unquote('"\\eade"');
$cft-camera: unquote('"\\eadf"');
$cft-printer: unquote('"\\eae0"');
$cft-smartwatch: unquote('"\\eae1"');
$cft-redo: unquote('"\\eae2"');
$cft-plugin-content: unquote('"\\eae3"');
$cft-pinterest: unquote('"\\eae4"');
$cft-truck: unquote('"\\eae5"');
$cft-groups: unquote('"\\eae6"');
$cft-home-3: unquote('"\\eae7"');
$cft-chat-minimal: unquote('"\\eae8"');
$cft-money-briefcase: unquote('"\\eae9"');
$cft-blender: unquote('"\\eaea"');
$cft-mute: unquote('"\\eaeb"');
$cft-pen-tool: unquote('"\\eaec"');
$cft-wine-glass: unquote('"\\eaed"');
$cft-saving: unquote('"\\eaee"');
$cft-visibilty: unquote('"\\eaef"');
$cft-return-right: unquote('"\\eaf0"');
$cft-whatsapp: unquote('"\\eaf1"');
$cft-line: unquote('"\\eaf2"');
$cft-egg: unquote('"\\eaf3"');
$cft-window-programming: unquote('"\\eaf4"');
$cft-parameters: unquote('"\\eaf5"');
$cft-comment-star: unquote('"\\eaf6"');
$cft-tablet-landscape: unquote('"\\eaf7"');
$cft-grid-system: unquote('"\\eaf8"');
$cft-pointer-left: unquote('"\\eaf9"');
$cft-attachment: unquote('"\\eafa"');
$cft-gift-box: unquote('"\\eafb"');
$cft-pointer-down-circle: unquote('"\\eafc"');
$cft-diskette: unquote('"\\eafd"');
$cft-trash: unquote('"\\eafe"');
$cft-chart-bar: unquote('"\\eaff"');
$cft-menu-expand: unquote('"\\eb00"');
$cft-eleptical-marquee: unquote('"\\eb01"');
$cft-leaf: unquote('"\\eb02"');
$cft-network: unquote('"\\eb03"');
$cft-panel-sidebar: unquote('"\\eb04"');
$cft-math-divide-round: unquote('"\\eb05"');
$cft-text-align-left: unquote('"\\eb06"');
$cft-income: unquote('"\\eb07"');
$cft-banknotes: unquote('"\\eb08"');
$cft-customer-support: unquote('"\\eb09"');
$cft-star: unquote('"\\eb0a"');
$cft-notification-off: unquote('"\\eb0b"');
$cft-cd: unquote('"\\eb0c"');
$cft-wrench: unquote('"\\eb0d"');
$cft-home-2: unquote('"\\eb0e"');
$cft-checklist: unquote('"\\eb0f"');
$cft-chart-column: unquote('"\\eb10"');
$cft-panel-header: unquote('"\\eb11"');
$cft-trencher-hat: unquote('"\\eb12"');
$cft-edit: unquote('"\\eb13"');
$cft-skip-previous: unquote('"\\eb14"');
$cft-browser: unquote('"\\eb15"');
$cft-contactless: unquote('"\\eb16"');
$cft-checkbox: unquote('"\\eb17"');
$cft-teapot: unquote('"\\eb18"');
$cft-nav-back: unquote('"\\eb19"');
$cft-wheelchair: unquote('"\\eb1a"');
$cft-chart-pie: unquote('"\\eb1b"');
$cft-panel-simple: unquote('"\\eb1c"');
$cft-lifebuoy: unquote('"\\eb1d"');
$cft-bug: unquote('"\\eb1e"');
$cft-volume-high: unquote('"\\eb1f"');
$cft-mail-birdhouse: unquote('"\\eb20"');
$cft-mail-open: unquote('"\\eb21"');
$cft-youtube: unquote('"\\eb22"');
$cft-data-storage: unquote('"\\eb23"');
$cft-name-tag: unquote('"\\eb24"');
$cft-collection: unquote('"\\eb25"');
$cft-idea: unquote('"\\eb26"');
$cft-unlock: unquote('"\\eb27"');
$cft-to-top: unquote('"\\eb28"');
$cft-compass: unquote('"\\eb29"');
$cft-hang-tag: unquote('"\\eb2a"');
$cft-knife: unquote('"\\eb2b"');
$cft-clock-rush: unquote('"\\eb2c"');
$cft-promo-price: unquote('"\\eb2d"');
$cft-pharmacy: unquote('"\\eb2e"');
$cft-pencil-2: unquote('"\\eb2f"');
$cft-store-round: unquote('"\\eb30"');
$cft-woman: unquote('"\\eb31"');
$cft-columns2: unquote('"\\eb32"');
$cft-grid-circle: unquote('"\\eb33"');
$cft-bank: unquote('"\\eb34"');
$cft-credit-card: unquote('"\\eb35"');
$cft-cylinder: unquote('"\\eb36"');
$cft-computer: unquote('"\\eb37"');
$cft-shopping-bag-2: unquote('"\\eb38"');
$cft-lightning-bolt: unquote('"\\eb39"');
$cft-remove-round: unquote('"\\eb3a"');
$cft-pencil: unquote('"\\eb3b"');
$cft-language: unquote('"\\eb3c"');
$cft-boxing-glove: unquote('"\\eb3d"');
$cft-integration: unquote('"\\eb3e"');
$cft-sort-list: unquote('"\\eb3f"');
$cft-shape-boundary: unquote('"\\eb40"');
$cft-basketball: unquote('"\\eb41"');
$cft-diamond: unquote('"\\eb42"');
$cft-square-direction-down: unquote('"\\eb43"');
$cft-clock: unquote('"\\eb44"');
$cft-movie-camera: unquote('"\\eb45"');
$cft-android-brand-2: unquote('"\\eb46"');
$cft-user-settings: unquote('"\\eb47"');
$cft-arrow-big-left: unquote('"\\eb48"');
$cft-results-meeting: unquote('"\\eb49"');
$cft-app-notification: unquote('"\\eb4a"');
$cft-hanger: unquote('"\\eb4b"');
$cft-enter-room: unquote('"\\eb4c"');
$cft-yen-round: unquote('"\\eb4d"');
$cft-repeat-all: unquote('"\\eb4e"');
$cft-dumbbell: unquote('"\\eb4f"');
$cft-sync: unquote('"\\eb50"');
$cft-call: unquote('"\\eb51"');
$cft-eye: unquote('"\\eb52"');
$cft-view-off: unquote('"\\eb53"');
$cft-delivery-2: unquote('"\\eb54"');
$cft-plant-vase-2: unquote('"\\eb55"');
$cft-location: unquote('"\\eb56"');
$cft-flower: unquote('"\\eb57"');
$cft-menu-contract: unquote('"\\eb58"');
$cft-power-switch: unquote('"\\eb59"');
$cft-comment-simple: unquote('"\\eb5a"');
$cft-location-2: unquote('"\\eb5b"');
$cft-pill: unquote('"\\eb5c"');
$cft-square-direction-up: unquote('"\\eb5d"');
$cft-gift: unquote('"\\eb5e"');
$cft-mobile-portrait: unquote('"\\eb5f"');
$cft-external-link: unquote('"\\eb60"');
$cft-car: unquote('"\\eb61"');
$cft-notebook-folder: unquote('"\\eb62"');
$cft-text-align-right: unquote('"\\eb63"');
$cft-order-service: unquote('"\\eb64"');
$cft-more-vertical: unquote('"\\eb65"');
$cft-panel-header-divided: unquote('"\\eb66"');
$cft-direction-downward-right: unquote('"\\eb67"');
$cft-square-direction-upward-right: unquote('"\\eb68"');
$cft-observation-love: unquote('"\\eb69"');
$cft-square-direction-downward-left: unquote('"\\eb6a"');
$cft-baseball: unquote('"\\eb6b"');
$cft-profile: unquote('"\\eb6c"');
$cft-share: unquote('"\\eb6d"');
$cft-ruler-triangule: unquote('"\\eb6e"');
$cft-arrow-up: unquote('"\\eb6f"');
$cft-geo-globe: unquote('"\\eb70"');
$cft-money: unquote('"\\eb71"');
$cft-direction-down: unquote('"\\eb72"');
$cft-return-up: unquote('"\\eb73"');
$cft-folder-add: unquote('"\\eb74"');
$cft-linkedin: unquote('"\\eb75"');
$cft-sort: unquote('"\\eb76"');
$cft-remove: unquote('"\\eb77"');
$cft-modules: unquote('"\\eb78"');
$cft-undo: unquote('"\\eb79"');
$cft-video: unquote('"\\eb7a"');
$cft-postal-package: unquote('"\\eb7b"');
$cft-pos-register: unquote('"\\eb7c"');
$cft-robot: unquote('"\\eb7d"');
$cft-padlock-locked: unquote('"\\eb7e"');
$cft-id-card: unquote('"\\eb7f"');
$cft-quote-up-round: unquote('"\\eb80"');
$cft-filter: unquote('"\\eb81"');
$cft-build-rounded: unquote('"\\eb82"');
$cft-file-remove: unquote('"\\eb83"');
$cft-switch: unquote('"\\eb84"');
$cft-check-double: unquote('"\\eb85"');
$cft-italic: unquote('"\\eb86"');
$cft-flowtree: unquote('"\\eb87"');
$cft-medal: unquote('"\\eb88"');
$cft-calendar: unquote('"\\eb89"');
$cft-baby-stroller: unquote('"\\eb8a"');
$cft-video-camera: unquote('"\\eb8b"');
$cft-globe: unquote('"\\eb8c"');
$cft-arrow-left: unquote('"\\eb8d"');
$cft-coupon-2: unquote('"\\eb8e"');
$cft-yen: unquote('"\\eb8f"');
$cft-chat-face: unquote('"\\eb90"');
$cft-domino: unquote('"\\eb91"');
$cft-square-direction-upward-left: unquote('"\\eb92"');
$cft-school-book: unquote('"\\eb93"');
$cft-gift-2: unquote('"\\eb94"');
$cft-laptop: unquote('"\\eb95"');
$cft-select-object: unquote('"\\eb96"');
$cft-arrow-big-up: unquote('"\\eb97"');
$cft-financial-statement: unquote('"\\eb98"');
$cft-club-suit: unquote('"\\eb99"');
$cft-manager: unquote('"\\eb9a"');
$cft-volume-low: unquote('"\\eb9b"');
$cft-scanner: unquote('"\\eb9c"');
$cft-rocket-launch: unquote('"\\eb9d"');
$cft-shorts: unquote('"\\eb9e"');
$cft-audio-waves: unquote('"\\eb9f"');
$cft-disappear: unquote('"\\eba0"');
$cft-mouse-cursor: unquote('"\\eba1"');
$cft-cloud: unquote('"\\eba2"');
$cft-star-round: unquote('"\\eba3"');
$cft-shuffle: unquote('"\\eba4"');
$cft-window: unquote('"\\eba5"');
$cft-videogame-controler: unquote('"\\eba6"');
$cft-gemstone: unquote('"\\eba7"');
$cft-supplier: unquote('"\\eba8"');
$cft-search-list: unquote('"\\eba9"');
$cft-table-tenis: unquote('"\\ebaa"');
$cft-skull-angry: unquote('"\\ebab"');
$cft-motorcycle: unquote('"\\ebac"');
$cft-upload: unquote('"\\ebad"');
$cft-trending-down: unquote('"\\ebae"');
$cft-messenger: unquote('"\\ebaf"');
$cft-slider-left: unquote('"\\ebb0"');
$cft-apple-brand: unquote('"\\ebb1"');
$cft-text-content: unquote('"\\ebb2"');
$cft-peanut: unquote('"\\ebb3"');
$cft-text-sheet-folded: unquote('"\\ebb4"');
$cft-pause: unquote('"\\ebb5"');
$cft-square-direction-downward-right: unquote('"\\ebb6"');
$cft-juice-cup: unquote('"\\ebb7"');
$cft-flowtree-2: unquote('"\\ebb8"');
$cft-android-brand: unquote('"\\ebb9"');
$cft-place-pin: unquote('"\\ebba"');
$cft-forward: unquote('"\\ebbb"');
$cft-kanban-view: unquote('"\\ebbc"');
$cft-bookmark: unquote('"\\ebbd"');
$cft-help: unquote('"\\ebbe"');
$cft-status: unquote('"\\ebbf"');
$cft-rocket: unquote('"\\ebc0"');
$cft-socket: unquote('"\\ebc1"');
$cft-add-round: unquote('"\\ebc2"');
$cft-employee: unquote('"\\ebc3"');
$cft-inbox-receive: unquote('"\\ebc4"');
$cft-user-check: unquote('"\\ebc5"');
$cft-tag-love: unquote('"\\ebc6"');
$cft-iphone: unquote('"\\ebc7"');
$cft-statement: unquote('"\\ebc8"');
$cft-round-direction-down: unquote('"\\ebc9"');
$cft-file-blocked: unquote('"\\ebca"');
$cft-pamphlet: unquote('"\\ebcb"');
$cft-ice-cream: unquote('"\\ebcc"');
$cft-menu: unquote('"\\ebcd"');
$cft-happy-love: unquote('"\\ebce"');
$cft-brightness: unquote('"\\ebcf"');
$cft-soda-glass: unquote('"\\ebd0"');
$cft-backspace: unquote('"\\ebd1"');
$cft-arrow-rightward: unquote('"\\ebd2"');
$cft-chat-simple: unquote('"\\ebd3"');
$cft-play-round: unquote('"\\ebd4"');
$cft-mobile-landscape: unquote('"\\ebd5"');
$cft-shopping-cart: unquote('"\\ebd6"');
$cft-id: unquote('"\\ebd7"');
$cft-calculator: unquote('"\\ebd8"');
$cft-direction-upward-left: unquote('"\\ebd9"');
$cft-return-down: unquote('"\\ebda"');
$cft-mouse: unquote('"\\ebdb"');
$cft-female: unquote('"\\ebdc"');
$cft-beach: unquote('"\\ebdd"');
$cft-shield-check: unquote('"\\ebde"');
$cft-sales-contract: unquote('"\\ebdf"');
$cft-columns3: unquote('"\\ebe0"');
$cft-adobe-acrobat: unquote('"\\ebe1"');
$cft-shopping-basket: unquote('"\\ebe2"');
$cft-man: unquote('"\\ebe3"');
$cft-mail-doc: unquote('"\\ebe4"');
$cft-building: unquote('"\\ebe5"');
$cft-angry: unquote('"\\ebe6"');
$cft-history: unquote('"\\ebe7"');
$cft-rhombus: unquote('"\\ebe8"');
$cft-folder: unquote('"\\ebe9"');
$cft-alarm: unquote('"\\ebea"');
$cft-gift-card: unquote('"\\ebeb"');
$cft-arrow-leftward: unquote('"\\ebec"');
$cft-fingerprint: unquote('"\\ebed"');
$cft-timer: unquote('"\\ebee"');
$cft-clipboard-check: unquote('"\\ebef"');
$cft-tiktok: unquote('"\\ebf0"');
$cft-activity-monitor-square: unquote('"\\ebf1"');
$cft-chevron-left: unquote('"\\ebf2"');
$cft-slider-right: unquote('"\\ebf3"');
$cft-moon: unquote('"\\ebf4"');
$cft-blink: unquote('"\\ebf5"');
$cft-behance: unquote('"\\ebf6"');
$cft-band-aid: unquote('"\\ebf7"');
$cft-accessibility: unquote('"\\ebf8"');
$cft-surprise: unquote('"\\ebf9"');
$cft-customer: unquote('"\\ebfa"');
$cft-list-descending: unquote('"\\ebfb"');
$cft-round-direction-upward-left: unquote('"\\ebfc"');
$cft-proposal: unquote('"\\ebfd"');
$cft-flip-horizontal: unquote('"\\ebfe"');
$cft-notebook: unquote('"\\ebff"');
$cft-edit-inline: unquote('"\\ec00"');
$cft-sofa: unquote('"\\ec01"');
$cft-cherry: unquote('"\\ec02"');
$cft-percent-round: unquote('"\\ec03"');
$cft-heart: unquote('"\\ec04"');

